# Lists

In [1]:
My_List = ['panner','makhane','tomatoes','cheese','butter','eggs','bread']

In [2]:
My_List

['panner', 'makhane', 'tomatoes', 'cheese', 'butter', 'eggs', 'bread']

My result was correct

In [3]:
len(My_List)

7

My result was correct

In [4]:
My_List[0]

'panner'

My result was correct

In [5]:
My_List[6]

'bread'

My result was correct

In [6]:
My_List[1:]

['makhane', 'tomatoes', 'cheese', 'butter', 'eggs', 'bread']

My result was correct

In [7]:
My_List[:3]

['panner', 'makhane', 'tomatoes']

My result was correct

In [8]:
My_List + ['chocolates']

['panner',
 'makhane',
 'tomatoes',
 'cheese',
 'butter',
 'eggs',
 'bread',
 'chocolates']

In [9]:
My_List

['panner', 'makhane', 'tomatoes', 'cheese', 'butter', 'eggs', 'bread']

My result was correct

In [10]:
My_List = My_List + ['Ice cream']

In [11]:
My_List

['panner',
 'makhane',
 'tomatoes',
 'cheese',
 'butter',
 'eggs',
 'bread',
 'Ice cream']

My result was correct

In [12]:
My_List * 2

['panner',
 'makhane',
 'tomatoes',
 'cheese',
 'butter',
 'eggs',
 'bread',
 'Ice cream',
 'panner',
 'makhane',
 'tomatoes',
 'cheese',
 'butter',
 'eggs',
 'bread',
 'Ice cream']

My result was correct

In [13]:
My_List

['panner',
 'makhane',
 'tomatoes',
 'cheese',
 'butter',
 'eggs',
 'bread',
 'Ice cream']

MY result was correct

In [14]:
My_List.append('dry cake')

In [15]:
My_List

['panner',
 'makhane',
 'tomatoes',
 'cheese',
 'butter',
 'eggs',
 'bread',
 'Ice cream',
 'dry cake']

In [16]:
My_List.append('dahi bala')

In [17]:
My_List.append('biriyani')

In [18]:
My_List.append('chole bature')

In [19]:
My_List

['panner',
 'makhane',
 'tomatoes',
 'cheese',
 'butter',
 'eggs',
 'bread',
 'Ice cream',
 'dry cake',
 'dahi bala',
 'biriyani',
 'chole bature']

In [20]:
My_List.pop()

'chole bature'

My result was correct

In [21]:
My_List.append('Fidget spinner')

In [22]:
My_List

['panner',
 'makhane',
 'tomatoes',
 'cheese',
 'butter',
 'eggs',
 'bread',
 'Ice cream',
 'dry cake',
 'dahi bala',
 'biriyani',
 'Fidget spinner']

In [23]:
My_List.append ('chole bature')

In [24]:
My_List

['panner',
 'makhane',
 'tomatoes',
 'cheese',
 'butter',
 'eggs',
 'bread',
 'Ice cream',
 'dry cake',
 'dahi bala',
 'biriyani',
 'Fidget spinner',
 'chole bature']

My result was correct

In [25]:
My_List.reverse()

In [26]:
My_List

['chole bature',
 'Fidget spinner',
 'biriyani',
 'dahi bala',
 'dry cake',
 'Ice cream',
 'bread',
 'eggs',
 'butter',
 'cheese',
 'tomatoes',
 'makhane',
 'panner']

My result was correct

In [27]:
My_List.sort()

In [28]:
My_List

['Fidget spinner',
 'Ice cream',
 'biriyani',
 'bread',
 'butter',
 'cheese',
 'chole bature',
 'dahi bala',
 'dry cake',
 'eggs',
 'makhane',
 'panner',
 'tomatoes']

My result was correct

In [29]:
Shopping_List = ['Purse','Shoes','jeans','top','suit']

In [30]:
Listbox = [My_List,Shopping_List]

In [31]:
Listbox

[['Fidget spinner',
  'Ice cream',
  'biriyani',
  'bread',
  'butter',
  'cheese',
  'chole bature',
  'dahi bala',
  'dry cake',
  'eggs',
  'makhane',
  'panner',
  'tomatoes'],
 ['Purse', 'Shoes', 'jeans', 'top', 'suit']]

In [32]:
Listbox[0]

['Fidget spinner',
 'Ice cream',
 'biriyani',
 'bread',
 'butter',
 'cheese',
 'chole bature',
 'dahi bala',
 'dry cake',
 'eggs',
 'makhane',
 'panner',
 'tomatoes']

In [33]:
Listbox[0][0]

'Fidget spinner'

In [34]:
Listbox[1][1]

'Shoes'

In [35]:
first_col = [row[0] for row in Listbox]

In [36]:
first_col

['Fidget spinner', 'Purse']

My result was correct